.portfolio-sidebar-list-wrapper {
    .portfolio-sidebar-thumb{
        padding: 21px;

        .portfolio-sidebar-img img {
            width: 100%;
        }

        .title {
            color: $offwhite;
        }
    }
}