.DraftEditor-root {
    border: 1px solid #f1f1f1;
    padding: 20px;
    border-radius: 3px;
}

.rdw-image-modal {
    left: 200px
}

.rdw-emoji-modal {
    left: -129px;
}

.rdw-embedded-modal {
    left: -100px;
}